@using CoffeeManagement.Models;

@model CoffeeManagement.Models.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div style="width : 600px ; ">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Birthday, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", type = "date" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Sex, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(m => m.Sex, new SelectList(Enum.GetValues(typeof(CoffeeManagement.Models.Gender))), new { @class="form-control" })*@
                <input type="radio" name="Sex" id="Sex" value="Male" checked> Nam
                <input type="radio" name="Sex" id="Sex" value="Female"> Nữ
                <input type="radio" name="Sex" id="Sex" value="Other"> Other
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Identity, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Identity, new { @class = "form-control", type = "number" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", type = "number" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Role, new SelectList(ViewData["ListRole"] as List<AspNetRoles>, "Id", "Name"), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ShopID, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ShopID, new SelectList(ViewData["ListShop"] as List<Shop>, "ID", "Name"), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select class="form-control" id="City" name="City">
                    <option value="">Please select City</option>
                    @foreach (var item in ViewData["ListCity"] as List<City>)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.District, new { @class = "col-md-2 control-label" })
            <div class="col-md-10" id="divDistrict">
                <select class="form-control" id="District" name="District">
                    <option value="">Please select District</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.WardID, new { @class = "col-md-2 control-label" })
            <div class="col-md-10" id="divWard">
                <select class="form-control" id="WardID" name="WardID">
                    <option value="">Please select Ward</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DetailAddress, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DetailAddress, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    </div>
   
}
<script src="~/Scripts/ShopUserScipts/ShopScript.js"></script>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ShopUserScripts/ShopScript.js")
}*@


